@reference "./base.css";

@layer base {
  .border-card {
    @apply shadow-lg shadow-neutral-200/70 dark:shadow-black/30 border dark:border-neutral-600 rounded-xl p-4 bg-white dark:bg-dark text-sm text-neutral-500 dark:text-neutral-200 font-normal flex flex-col items-start mt-2 space-y-2;
  }
}
